html, body{
    height: calc(100% - 20px);
    width: 100%;
    margin: 0; padding: 0;
}
body{
    border-bottom:40px solid grey;
    overflow: hidden;
}
.crowd{
    background: url('crowd.jpg');
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    opacity: .3;
    top: 0;
    position: fixed;
    left: 0;
    background-size: contain;
    z-index: -2;
    filter: sepia(.8);
}
.ball{
    border-radius: 50px;
    height: 79px;
    width: 79px;
    border: 1px solid rgb(5, 5, 5);
    background: orange;
    position: absolute;
    font-size: 11px;
    text-align: center;
}
.ball.collide{
    background: red;
}
span{
    user-select: none;  
}
.ball span{
    line-height: 80px;
}
.goal{
    border-top: 0;  border-bottom: 0;
    position: absolute;
    background: gold;
}
.goal:after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 40px;
    background: rgb(220, 220, 220);
    bottom: -30px;
}
.backboard{
    position: absolute;
    background: grey;
}
.rim{
    position: absolute;
    background: red;
}
.slingshot{
    background: brown;
    position: absolute;
    left: 200px;
    bottom: 0px;
    height: 200px;
    width: 10px;
}
.slingshot:before{
    content: url('shooter.png');
    transform: scaleX(-1) scale(1.5);
    position: absolute;
    right: -163px;
    top: 60px;
    z-index: 22;
    pointer-events: none;
}
.juice{
    opacity: 0;
    width: 400px;
    font-size: 40px;
    transition: opacity .5s;
    position: absolute;
    left: calc(50% - 200px);
    text-align: center;
    font-weight: bold;
}
.juice.active{
    opacity: 1;
    animation: dance 1000ms linear infinite;
}
.scoreboard{
    font-family: monospace;
    border: 1px solid red;
    background: black;
    padding: 6px;
    font-size: 30px;
    color: red;
    display: inline-block;
    user-select: none; 
    position: absolute;
    top: 30px;
    left: 20px;
}
.scoreboard:before{
    content: "SCORE:";
    user-select: none;  
}

@keyframes dance{
    0% {
        transform: rotate(0) scale(1)
    }
    30% {
        transform: rotate(20deg) scale(2)
    }
    50% {
        transform: rotate(0) scale (.77)
    }
    70% {
        transform: rotate(-20deg) scale(2)
    }
    100% {
        transform: rotate(0) scale(1)
    }
}